window {
  margin: 0px;
  border: 2px solid #7aa2f7;
  background-color: rgba(0,0,0,0);
  border-radius: 12px;
}

#input {
  all: unset;
  min-height: 36px;
  padding: 8px 12px;
  margin: 10px;
  background-color: #24283b;
  color: #c0caf5;
  font-weight: bold;
  border-radius: 8px;
}

#outer-box {
  margin: 0px;
  padding: 8px;
  background-color: #24283b;
  border-radius: 12px;
}

#inner-box {
  margin: 4px;
  padding: 10px;
  background-color: #1f2335;
  border-radius: 8px;
}

#scroll {
  margin: 5px 0px;
  background-color: transparent;
}

#entry {
  margin: 6px;
  padding: 20px;
  border: 2px solid #7aa2f7;
  border-radius: 8px;
  background-color: transparent;
}

#entry:selected {
  background-color: #7aa2f7;
  color: #1a1b26;
}

#text {
  font-family: "JetBrains Nerd Font Mono";
  font-size: 24px;
  color: #c0caf5;
}

#text:selected {
  color: #1a1b26;
}
